<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1> Landing Page </h1>
    <br />
    <h2> Stuff stuff stuff </h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3 class="feature-heading">Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing coaches.</p>
  </div>

  <div class="col-12 col-sm">
    <h3 class="feature-heading">Sign up</h3>
     <br />
    <p>Enroll and access a courses archive of lessons, drill tapes and more!</p>
  </div>

  <div class="col-12 col-sm">
    <h3 class="feature-heading">Community</h3>
     <br />
    <p>Learn with a community of like-minded coaches.</p>
  </div>
</div>