<br />

<div class="booyah-box col-10 container">
	<h1>&nbsp Meet Our Team</h1>
	<br />
  <br />
	<div class="row">
		<div class="col-lg-4 col-xl-4 text-center">
			<%= image_tag 'me.jpg', class: 'img-fluid' %>
		</div>
		<div class="col-lg-7 col-xl-7 text-center" style="margin-top:35px;">
			<h5 class="bio container">
      <br />
				James Guest is a former College Football Coach and a current Software Developer.
        <br />
        <br />
        James graduated from the University of Central Florida in 2012. Beginning in college, James coached high school football in central Florida for 6yrs before advancing his career into the world of DIAA & DII college football. A coach who has been published on not only his schemes but his detailed development process of Quarterbacks and Wide Receivers.
				<br />
        <br />
				Reachable via email at: 
				<a href="mailto:jguest777@gmail.com">
          jguest777@gmail.com</a>
        <br /><br />
			</h5>
		</div>
   <hr class="col-8 offset-2">
    <div class="row">
		<div class="col-lg-4 col-xl-4 text-center">
			<%= image_tag 'ben.jpg', class: 'img-fluid' %>
		</div>
		<div class="col-lg-7 col-xl-7 text-center" style="margin-top:35px;">
			<h5 class="bio container">
      <br />
				Ben Luther is a College Football Coach and proud father.
        <br />
        <br />
        Ben graduated from Ole Miss in 2013. With nearly a decade within the college ranks Ben has spearheaded Offensive Line play and has published countless of drill and teach tapes that have groomed the next generation of young coaches and players.
				<br />
        <br />
				Reachable via email at: 
				<a href="mailto:COACHBWLUTHER@gmail.com">
          COACHBWLUTHER@gmail.com</a>
        <br /><br />
			</h5>
		</div>
	</div>
	<br />
  <br />
  <br />
</div>