// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dash {
	text-align: center;
	background: image_url('dark-honeycomb.png');
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	border: 1px solid #ccc;
	padding: 10px;
	color: whitesmoke;
	animation: shadow-pulse2 1s infinite;
}

@keyframes shadow-pulse2 {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
	}
	100% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
}

@keyframes shadow-pulse2-big {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
	}
	100% {
		box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
	}
}
